---
layout: default
---

<style>
.fauxthumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius:30px;
}
.fauxthumbnail img {
  position:absolute;
  left:50%;
  top:50%;
  height:auto;
  width:100%;
  transform:translate(-50%,-50%);
  border-radius:30px;
}
.post-list > li {
    margin-bottom: 30px;
    display: inline-block;
    width: 49%;
}
</style>

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span><br/>
        {% assign foundImage = 0 %}
              {% assign images = post.content | split:"<img " %}
              {% for image in images %}
                {% if image contains 'src' %}

                    {% if foundImage == 0 %}
                        {% assign html = image | split:"/>" | first %}
                        <div class="fauxthumbnail">
                          <a href="{{ post.url | prepend: site.baseurl }}"><img {{ html }} /></a>
                        </div>
                        {% assign foundImage = 1 %}
                    {% endif %}
                {% endif %}
              {% endfor %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
